---
# Default Tackle 2 endpoint and credentials
url: https://tackle-konveyor-tackle.apps.cluster.local
username: admin
password:

# Export of Identitiy (credentials) password and key fields should be encrypted, set the passphase
encryption_passphase:
