name: Build Hub

on:
  pull_request:
    paths-ignore:
      - '**.md'
  push:
    paths-ignore:
      - '**.md'

jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v3
        with:
          go-version: '1.21'
      - run: make fmt

  vet:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v3
        with:
          go-version: '1.21'
      - run: make vet

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v3
        with:
          go-version: '1.21'
      - run: make cmd

  test-unit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v3
        with:
          go-version: '1.21'
      - run: make test

  test-api:
    needs:
    - fmt
    - vet
    - build
    - test-unit
    runs-on: ubuntu-latest
    env:
      DISCONNECTED: 1
      HUB_BASE_URL: http://localhost:8080
      DB_PATH: /tmp/hub.db
    steps:
      - uses: actions/checkout@v4
        with:
          repository: konveyor/tackle2-seed
      - run: |
          mkdir -p /tmp/seed
          cp -r resources/* /tmp/seed
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v3
        with:
          go-version: '1.21'
      - run: |
          rm -f $DB_PATH
          make run &
          sleep 15  # probably a dirty solution
          make test-api

  build-image:
    needs:
    - fmt
    - vet
    - build
    - test-unit
    - test-api
    runs-on: ubuntu-latest
    env:
      IMG: ttl.sh/konveyor-hub-${{ github.sha }}:2h
    steps:
      - uses: actions/checkout@v4
      - run: make docker-build
      - run: docker push ${IMG}

  test-integration:
    needs: build-image
    uses: konveyor/ci/.github/workflows/global-ci-bundle.yml@main
    with:
      tackle_hub: ttl.sh/konveyor-hub-${{ github.sha }}:2h
      api_hub_tests_ref: ${{ github.ref }}
      api_tests_ref: ${{ github.event_name == 'push' && github.ref || github.base_ref }}
