name: Test nightly

on:
  schedule:
    - cron: '13 0 * * *'
      
jobs:
  test-unit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: '1.19'
      - run: make test

  test-api:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: '1.19'
      - run: |
          make vet
          DISCONNECTED=1 make run &
          sleep 15  # probably a dirty solution
          HUB_BASE_URL=http://localhost:8080 make test-api
